fastapi
uvicorn
torch
emoji 
pythainlp 
sefr_cut 
tinydb 
seqeval 
pydantic 
jsonlines
sentencepiece==0.1.91 --find-links=https://github.com/google/sentencepiece/releases/download/v0.1.91/
transformers
thai2transformers
pydantic
