absl-py
annotated-types
anyio
astunparse
attrs
cachetools
certifi
charset-normalizer
click
colorama
emoji
exceptiongroup
fastapi
filelock
flatbuffers
fsspec
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h11
h5py
huggingface-hub
idna
Jinja2
joblib
jsonlines
keras
libclang
Markdown
MarkupSafe
ml-dtypes
mpmath
networkx
numpy
oauthlib
opt-einsum
packaging
pandas
protobuf
pyahocorasick
pyasn1
pyasn1-modules
pydantic
pydantic_core
pythainlp
python-crfsuite
python-dateutil
pytz
PyYAML
regex
requests
requests-oauthlib
rsa
safetensors
scikit-learn
scipy
SEFR-CUT
sentencepiece-binary
seqeval
six
sniffio
starlette
sympy
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
thai2transformers
threadpoolctl
tinydb
tokenizers
torch
tqdm
transformers
typing_extensions
tzdata
urllib3
uvicorn
Werkzeug
wrapt
